<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <center>
        <h1>Меню</h1>
        </center>
        <nav>
           <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="/flowers">Цветы</a></li>
              <li><a href="/orders">Заказать</a></li>
              <li><a href="/about_us">О нас</a></li>
           </ul>
        </nav>
     </div>
    <h1>{% block zag %} {% endblock %}</h1>
    <hr>
    <p>{% block content %} {% endblock %}</p>
    <style>
        nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

    </style>
</body>
</html>  