{% extends 'base.html' %}

{% block title %} Заказать {% endblock %}

{% block zag %} <center> Чтобы заказать самые прекрасные цветы вы можете написать или позвонить нам!  </center>  {% endblock %}

{% block content %}  
<center>
<p>1 номер телефона: +7 (979) 202-25-13</p>
<p>2 номер телефона: +7 (914) 955-66-78</p>
<p>Наша почта: flowermagicshop@gmail.com</p>
<p>Наш инстаграм: @flowermagic_shop</p>
<p>Наш вконтакте: vk.com/flowermagic_shop</p>
<p>Наш телеграм: t.me/flowermagic_shop</p>
</center>
{% endblock %}